body {
  color: rgb(215, 196, 118);
  background: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Archivo Black", sans-serif;
}

h1 {
  font-family: "Rock Salt", cursive;
}

.landing-content {
  margin-top: 10%;
  height: 100%;
  margin-bottom: 20%;
}

.landing-content iframe {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.landing-content p {
  padding: 100px;
  padding-bottom: 40px;
}

 .landing-image {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-right: 5%;
}

.navbar-nav.navbar-center {
  margin-left: 25%;
}



#episodes {
  height: 100%;
  position: relative;
}




.podcast-link {
  height: 75px;
  width: 20%;
  display: inline-block;
  margin-left: 10%;
}



#episodes {
  margin-top: 30px;
}

.audio-text-color {
  color: white !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: #fff !important;
}

@media (max-width: 741px) {
  .podcast-link {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  #apple-podcast-link {
    margin-bottom: 20px;
  }
}

@media (min-width: 741px) {
  .instagram-media {
    height: 600px;
  }

  .navbar-nav.navbar-center {
    margin-left: 15%;
  }
}

@media (min-width: 1210px) {
  .instagram-media {
    height: 690px;
  }

  .latest-episode-content {
    padding-top: 100px;
  }

  .navbar-nav.navbar-center {
    margin-left: 30%;
  }

  .landing-content {
    margin-left: 15% !important;
  }
  }
}
