
body{
    color: rgb(215, 196, 118);
    background:  rgb(0,0,0);
    font-size: 24px;
    font-family: 'Archivo Black', sans-serif;
}

h1{
    font-family: 'Rock Salt', cursive;
}

header {
    margin-bottom: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.top{
    position: relative;
    padding-bottom: 10rem;
}

#episodes{
    height: 100%;
    position: relative;
}



 .overlay {
   height: 100%;
   width: 100%;
   position: absolute;
   background-color: rgba(0,0,0,.7);

}

.header-main{
    position: relative
}